node_modules

#Hardhat files
cache
artifacts
examples

.env
assets

*.csv

flattened

# Ignore Data Files
data
generated

# Whitelist Mock-Clans
!data/mock-clans-bytes.json
!data/mock-clans.json

.vscode

deployments/localhost